@model hospital.ViewModels.RowViewModel;

@{
    Layout = "_Layout1";
}

<table class="table table-bordered border-primary">
    <thead>
        <tr>
            <th scope="col">Ф.И.О</th>
            <th scope="col">Телефон Номер</th>
            <th scope="col">Ваша очередь</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Fullname</td>
            <td>@Model.Phone</td>
            <td>@Model.CreatedAt.ToString("MMM dd, HH:mm")</td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" href="/">На Главную</a>
